<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Lista de Mascotas en TeleVet</title>
    </head>
    <body>
        <div class="container">
            <h1>Lista de Mascotas en TeleVet</h1>
            <a class="btn btn-primary mt-4 mb-4" th:href="@{'/mascota/new'}">Nueva Mascota</a>

            </form>
            <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre Mascota</th>
                        <th>Año</th>
                        <th>Sexo</th>
                        <th>Raza</th>
                        <th>Servicios</th>
                        <th>Accion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="mascota, info : ${listaMascota}">
                        <td th:text="${info.index + 1}"></td>
                        <td th:text="${mascota.nombre}"></td>
                        <td th:text="${mascota.anho}"></td>
                        <td th:text="${mascota.sexo}"></td>
                        <td th:text="${mascota.getRaza_especie().getDescripcion()}"></td>
                        <!--<td th:text="${employee.departments.locationid.city}"></td> -->
                        <td><a class="btn btn-primary" th:href="@{'/mascota/edit' + '?id=' + ${mascota.idmascota}}">Editar</a>
                        </td>
                        <td><a class="btn btn-danger" th:href="@{'/mascota/delete' + '?id=' + ${mascota.idmascota}}">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>